[Unit]
Description=Dzen2 Status Bar
After=graphical.target

[Service]
ExecStart=%h/.config/dzen2/status.sh
Restart=always
RestartSec=2
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
